
<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">

<input type="text" class="form-control" [(ngModel)]="ServerName"> <!--two way data binding-->

<p>{{ ServerName }}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="oncreateServer()">Add Server</button>
<!--<P>{{ ServerCreationStatus }}</P>-->
    
<p *ngIf="servercreated; else noServer">Sever was created server Name is {{ ServerName }}</p>
<ng-template #noServer>
<p>No Server was created!</p></ng-template>

<app-server *ngFor="let server of servers"></app-server> <!--loop-->

 <!-- <p>{{ allowNewServer }}</p>       string interpolation-->
 <!-- <p [innerText]="allowNewServer"></p>  Property Binding-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <label>UserName</label>
                <input type="text" class="form-control" [(ngModel)]="UserName">
                <p>{{ UserName }}</p>
                <button class="btn btn-success" (click)="UserName = '' " [disabled]="UserName === '' ">ResetUser</button>
       </div>
    </div>
</div>
<br>
<!--<button class="btn btn-primary" (click)="showSecret=!showSecret">Display Details</button>
<p *ngIf="showSecret">showSecret Password id harika</p>-->
