<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ title }}</h3>
            <!--<app-servers></app-servers>-->
            <!--<div app-servers></div>-->
            <!-- <div class="app-servers"></div>-->
            <app-warning-alert></app-warning-alert>
            <app-successalert></app-successalert>
            <div class="container">
            <app-servers></app-servers>
            <div class="col-xs-4">
            <button class="btn btn-primary" (click)="showSecret=!showSecret">pwdDetails</button>
            <p *ngIf="showSecret">my secret pwd is Harika</p>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary" (click)="onToggleDetails()">DisplayDetails</button>
            <p *ngIf="showSecret">my secret pwd is Harika</p>
            <div *ngFor="let logItem of log"
            [ngStyle]="{backgroundColor:logItem >= 5 ? 'blue' : 'transparent'}"
            [ngClass]="{'white-text': logItem >=5}"
            >{{logItem}}</div>
            <br>
            <br>
        </div>
    </div>
</div>
</div>
</div>
<hr>
<div class="container">
    <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
           <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
            <p #contentParagraph>
                <strong *ngIf="serverElement.type === 'server'" style="color:red;">{{ serverElement.content }} </strong>
                <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
            </p>
           </app-server-element>
        </div>
    </div>
</div>
<hr>
<!--ngOnchanges-->
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
    </div>
</div>
<br>
<!--Assignment4-->
<h1>Aassignment-4</h1>
<div class="row">
    <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
</div>
<hr>
<!--ngIf & ngFor-->
<h3>Directives</h3>
<div class="row">
    <div class="col-md-12">
        <app-directives></app-directives>
    </div>
</div>